<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{70} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>b2b.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{70} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="quickfix" level="INFO" additivity="false"/>
    <logger name="display.quickfix" level="INFO" additivity="false"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>